{% extends "memorials/base.html" %}

{% block title %}Add a Memorial for {{ user.profile.hospital }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
  
<h1>Add a Memorial for {{ user.profile.hospital }}</h1>

<form action="" method="post">
    <div class="prettier"
    <table>
    {% csrf_token %}
    {{ form.as_p }}
    </table>
    <input type="submit" value="Submit">
    <input type="hidden" name="hospital" value="{{ user.profile.hospital.id }}">
</div>
</form>
</div>
</div>
</div>
{% endblock %}