{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Pet Memorial site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Pet Memorial Administration') }}</a></h1>
{% endblock %}

{% block extrastyle %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&family=Oswald&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block nav-global %}{% endblock %}
